*{
  margin: 0;
  padding: 0;
}
inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
reem-kufi-fun {
  font-family: "Reem Kufi Fun", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
baloo-paaji-2{
  font-family: "Baloo Paaji 2", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  /* font-style: italic; */
}
.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
